<div class="container-fluid mt-5 pt-5 pb-5 bg-light text-dark">
    <h1 class="text-center display-4 mb-3 font-weight-bold mb-2 mb-0">ABOUT US</h1>
    <p class="lead text-center mb-5 font-weight-normal mb-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis deserunt earum eaque, quasi reprehenderit maiores sequi dolore nisi commodi eius mollitia illum iure impedit odit. Reprehenderit vel adipisci at quibusdam! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quod.</p>
</div>
