<div class="container py-5">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
        @for (product of jeweleryProduct(); track product.id ) {
            <app-product [product]="product"></app-product>
        }
        @empty {
            <div class="text-center col-12">
                <h1>No jewelery Products Found!</h1>
            </div>
        }
        @defer {
            @for (product of notJeweleryProduct(); track product.id ) {
                <app-product [product]="product"></app-product>
            }
            @empty {
                <div class="text-center col-12">
                    <h1>No Products Found!</h1>
                </div>
            }
        }
        @placeholder {
            <div class="text-center col-12">
                <p>Loading more products...</p>
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        }
        @loading {
            <div class="text-center col-12">
                <p>Loading other products...</p>
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        }
        @error {
            <div class="text-center col-12 text-danger">
                <p>Error loading products. Please try again.</p>
            </div>
        }
    </div>
</div>